{% extends 'temp.html' %}
{% block title %}
<div class="title">Информация</div>
{% endblock %}
{% block content %}
<h4>1. В ближайшее время намечено закрытие ответвления БКЛ - участка от «Хорошёвской» до «Делового центра».
    Станции «Деловой Центр» (зал БКЛ) и «Шелепиха» на несколько лет закрываются для пассажиров.</h4>
<h4>2. Также в ближайшее время планируется ввести в эксплуатацию электродепо "Аминьевское" Большой Кольцевой линии.</h4>
<h4>3. В этом году планируется открытие второй пересадки между станциями
    «Каховская» Большой Кольцевой линии и «Севастопольская» Серпуховско-Тимирязевской линии.</h4>

{% endblock %}
